.container {
	width: 90%;
	margin: 0 auto;
	max-width: 1000px;
}
.buttons {
	margin-top: 2rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 2rem;
}

.primary-btn {
	display: inline-block;
	background-color: var(--primary-color);
	color: white;
	padding: 0.6em 1.6em;
	border-radius: 50px;
}

#projects {
	padding: 10rem 0;
}
#projects .section-heading{
	text-align: center;
	margin-bottom: 5rem;
}
#projects .item {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 1200px;
	margin: 0 auto;
	margin-bottom: 5rem;
}
#projects .item:nth-of-type(even) {
	flex-direction: row-reverse;
}
#projects .item .left {
	flex: 2;
}
#projects .item .right {
	margin-left: -100px;
	flex: 1;
    color: white;
	background-color: #07233283;
	padding: 2rem 3rem;
	border-radius: 12px;
	box-shadow: 0px 0px 20px #00000028;
	z-index: 2;
}
#projects .item:nth-of-type(even) .right {
	margin-left: 0;
}
#projects .item:nth-of-type(even) .left {
	margin-left: -150px;
}
#projects .item .left .img {
	height: 300px;
    width: 100%;
	overflow: hidden;
	border-radius: 12px;
	overflow: hidden;
	box-shadow: 0px 0px 20px #4705fc33;
	position: relative;
}
#projects .item .left .img img{
    width: 100%;
}
#projects .item .left .img::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #081a3e1a;

}
#projects .item .left .img img {
	object-fit: cover;
	transition: 0.3s ease transform;
}
#projects .item:hover .left .img img {
	transform: scale(1.1);
	z-index: 1;
}
#projects .item .right .project-title {
	font-size: 2.5rem;
	font-family: 'Montserrat';
	margin-bottom: 1rem;
}
#projects .item .right .project-sub-title {
	font-size: 1.6rem;
	margin-bottom: 2rem;
}
#projects .item .right .project-desc {
	color: var(--secondary-gray);
	margin-bottom: 1rem;
}

#projects .item .right .project-type{
	color: #04f4f2;
	margin-bottom: 1rem;
}

#projects .item .right .project-type+p{
	word-spacing: 10px;
	line-height: 1.5;
}

#projects .item .right .external-link {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	padding: calc(0.6em - 4px) calc(1.6em - 4px);
}
#projects .item .right .external-link svg {
	width: 25px;
}

#projects .buttons a:hover{
	color: #04f4f2;
}

.project-github-link .fa-github{
    font-size: 1.5rem;
    color: white;
}
.project-github-link .fa-github:hover{
	color: #04f4f2;
}

@media only screen and (max-width: 768px) {
	#projects .item {
		flex-direction: column;
	}
	#projects .item .left {
		width: 100%;
	}
	#projects .item .right {
		margin-left: 0;
		width: 90%;
		margin-top: -150px;
	}
	#projects .item:nth-of-type(even) {
		flex-direction: column;
	}
	#projects .item:nth-of-type(even) .left {
		margin-left: 0;
	}
}
@media only screen and (max-width: 450px) {
	#projects .item .right .buttons a {
		width: 100%;
		text-align: center;
	}
	#projects{
		overflow-x: hidden;
	}
}
@media screen and (min-width:450px) and (max-width:520px){
	.container {
		width: 85%;
		margin: 0 auto;
		max-width: 1000px;
	}
}