*{
    padding: 0;
    margin: 0;
    font-family:  Arial, sans-serif;
}
/* h2{
    font-size: .5rem
} */
a{
    text-decoration: none;
    color: #7f3ace;
}
button{
    cursor: pointer;
}
body{
    background-color: #191f2a;
}
#nav-menu{
    color: #7f3ace;
    margin: auto;
    font-size: 1.3rem;
    font-weight: 400;
    display: flex;
    overflow: hidden;
    position: fixed;
    z-index: 3;
    top: 0;
    left:0;
    right: 0;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    align-content: center;
    background-color: #191f2a;
    padding: 3vh 12vh;
}

.left-menu{
    width: 50%;
    display: flex;
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}
.left-menu a{
    position: relative;
    padding: 5px 8px;
}
.left-menu a::after{
    content: "";
    position: absolute;
    background-color: #7f3ace;
    height: 3px;
    width: 0;
    left:0;
    bottom: -5px;
    transition: 0.3s;
}
.left-menu a:hover ,#resume-button-1:hover{
    color: #7f3ace;
}
.left-menu a:hover::after{
    width: 100%;
}
#hamburger{
    display: none;
}
#navmeny{
    width: 70%;
    height: 100vh;
    position: fixed;
    right: -150%;
    top:0;
    margin-top:12vh;
    z-index: 2;
    color: white;
    background-color: #1c2331;
    list-style-type: none;
}
#navmeny li{
    padding-left: 5vh;
    padding-bottom: 5%;
    padding-top: 5%;
}
#resume-button-1,#resume-button-2{
    background-color:rgba(61, 65, 89, 0.5);
    color: #7f3ace;
    border: none;
    font-size: 1.3rem;
    font-weight: 400;
    padding: 5px 8px;
    border-radius: 7px;
}
#navmeny li a, #navmeny li a #resume-button-1{
    color: white;
    font-size: 1.5rem;
}
/* -------------------home---------------------- */
#home{
    height: 76vh;
    width: 63%;
    margin:auto;
    margin-top: 12%;
    text-align: center;
    color: #7f3ace;
}
#home h1{
    color: #7f3ace;
    font-size: 3.5rem;
}
#home h2{
    color: #7f3ace;
    margin: 8vh 0;
}
#home p{
    text-align: left;
    font-size: 1.1rem;
    font-weight: bold;
}
#home-contact{
    margin: 4% 0;
    font-size: 24px
}
#home-contact a{
    position: relative;
    padding: 5px 8px;
}
#home-contact a::after{
    content: "";
    position: absolute;
    background-color: #7f3ace;
    height: 3px;
    width: 0;
    left:0;
    bottom: -5px;
    transition: 0.3s;
}
#home-contact a:hover{
    color: #7f3ace;
}
#home-contact a:hover::after{
    width: 100%;
}
/* ----------------------------------about------------------------- */

#about{
    text-align: center;
    height: auto;
    padding: 20vh 12vh;
    color: white;
    background-color: #56558d;
    background-repeat: no-repeat;
    background-image:linear-gradient(#4f4f83, rgb(105, 81, 129));
}
.section h2{
    font-size: 2.2rem;
}
#about>div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 12vh;
}
#about>div>div:nth-child(1){
    width: 25%;
}
#about>div>div img{
    width: 100%;
    border:5px solid #191f2a;
    border-radius: 20px;
}
#about>div>div:nth-child(2){
    text-align: left;
    width: 40%;
    font-weight: 600;
    font-size: 1.1rem;
    color: white;
}

/* --------------------------skilss------------------ */
#skills{
    text-align: center;
    height: auto;
    padding: 20vh 12vh;
    color: white;
    margin: auto;
}
#skills>div{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap:10%;
}
#skills>div>div{
    width: 20%;
    margin-top: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 10px;
    border: 1px solid #7f3ace;
    /* background-color: #1d1d24; */
    background-color: #22223298;
    box-shadow: rgba(146, 102, 189, 0.2) 0px 4px 12px;
}
#skills>div>div>img{
    width: 50%;
    height: 80%;
    overflow: hidden;
    margin-bottom: 10px;
}
#skills>div>div>#cyclic{
    height: 50%;
}

/* -------------------contact -------------------- */
#contact{
    width: 80%;
    margin:3% auto;
    text-align: center;
    color: white;
}
#contact>div{
margin-top: 5%;
}
.contact-info{
    font-size:  3rem;
}
.github{
    margin: 0% 25%;
}
#contact-info{
    display: flex;
    justify-content: center;
    margin:3% 0%;
    font-size: 1.3em;
}
#contact-info>a{
    padding: 0 1%;
}
/* ----------------------------------project------------------ */
#projects{
    width: 100%;
    text-align: center;
    margin: auto;
    padding-top: 8%;
    color:white;
    background-image:linear-gradient(#4f4f83, rgb(105, 81, 129));
}
#projects>div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap:8vh;
    column-gap: 2vh;
    margin-top: 5%;
}
.project-card{
    width: 45%;
    color: #6464ff;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    border: 5px solid #191f2a;
    /* font-weight: 500; */
}
.project-card img{
    width: 100%;
    /* border-radius: 10px */
}
.project-card>div{
    width: 100%;
    color: white;
    background-color:rgba(0, 0, 0, 0.6) ;
    position: absolute;
    bottom: -100%;
    left: 0;
    height: 100%;
    box-sizing: border-box;
    transition: all 0.5s;
}
.project-card:hover >div{
    cursor: pointer;
    bottom: 0;
    /* border: 9px solid #9a9aef; */
}
.project-card>div>a{
    background-color: rgba(255, 255, 255, 0.461);
    color: #3c3cfb;
    padding: 12px 12px;
    border-radius: 10px;
}
.project-card>div>a:hover{
    background-color: white;
}

.project-card>div>p{
    margin-bottom: 2%;
    line-height: 1;
}
.project-card>div>.project-tech-stack{
    margin-bottom: 5%;
    padding: 0 3%;
}

/* ---------------github streak---------------- */

#git-stats{
    text-align: center;
    color: white;
}
#git-streak{
    width: 40%;
    margin: auto;
    text-align: center;
}
#git-streak img{
    width: 100%;
    margin-bottom: 2%;
}
/* --------------------------media------------------ */
/* .left-menu{
    display: none;
}
#hamburger{
    display: contents;
} */

@media screen and (min-width:776px) and (max-width:1115px){
    .left-menu{
        width: 70%;
    }
    #home h1{
        font-size: 2rem;
    }
    #home h2{
        margin: 5vh 0;
    }
    #about>div{
        justify-content: space-around;
    }
    #about>div>div:nth-child(1){
        width: 30%;
    }
    #about>div>div:nth-child(2){
        font-size: 1rem;
        text-align: left;
        width: 50%;
    }
    #skills>div{
        justify-content: space-evenly;
        row-gap: 5%;
    }
    #skills>div>div{
        width: 30%;
        margin-top: 8%;
    }
    #git-streak{
        width: 50%;
    }
}
@media screen and (min-width:592px) and (max-width:776px){
    h2{
        font-size: 1.8rem;
    }
    #home h1{
        font-size: 2.3rem;
    }
    #home h2{
        margin: 8vh 0;
    }
    #nav-menu{
        font-size: 1rem;
        justify-content: space-evenly;
        padding: 3vh 3vh;
    }
    #resume-button-1{
        font-size: 1rem;
    }
    .left-menu{
        width: 75%;
    }
    .left-menu a{
        position: relative;
        padding: 5px 3px;
    }
    #about{
        padding: 20vh 5vh;
    }
    #about>div{
        display: contents;
        margin: auto;
    }
    #about>div>div:nth-child(1){
        text-align: center;
        margin:4% auto;
        width: 40%;
    }
    #about>div>div:nth-child(1) img{
        width: 80%;
    }
    #about>div>div:nth-child(2){
        width: 80%;
        margin: auto;
        font-size: 16px;
    }
    #skills>div{
        justify-content: space-evenly;
        gap: 5%;
    }
    #skills>div>div{
        width: 35%;
        margin-top: 8%;
        padding-bottom: 8%;
        border: 1px solid #7f3ace;
    }
    #git-streak{
        width: 50%;
    } 
    .project-card{
        width: 80%;
    }
}


@media screen and (min-width:448px) and (max-width:592px){
    #home{
        width: 80%;
        margin-top: 24%;
        height: 60vh;
    }
    #home-contact{
        margin-top: 5%;
        /* margin-bottom: 1%; */
    }
    /* h2{
        font-size: 1.3rem;
    } */
    #home h1{
        font-size: 2rem;
    }
    #home h2{
        font-size: 1.5rem;
        margin: 8vh 0;
    }
    #home p{
        font-size: 1rem;
    }
    .left-menu{
        display: none;
    }
    #hamburger{
        display: flex;
    }
    #nav-menu{
        font-size: 1rem;
        justify-content: space-between;
        padding: 3vh 3vh;
    }
    #about{
        padding: 15vh 3vh;
    }
    #about>div{
        display: contents;
        margin: auto;
    }
    #about>div>div:nth-child(1){
        text-align: center;
        margin:4% auto;
        width: 50%;
    }
    #about>div>div:nth-child(1) img{
        width: 80%;
    }
    #about>div>div:nth-child(2){
        width: 95%;
        margin: auto;
        font-size: 16px;
        font-weight: 600;
    }
    #skills{
        padding: 15vh 5vh;
    }
    #skills>div{
        justify-content: space-evenly;
        gap:5%;
    }
    #skills>div>div{
        width: 40%;
        font-size: 1rem;
        margin-top: 5%;
        padding-top: 2%;
        padding-bottom: 7%;
    }
    #git-streak{
        width: 60%;
    } 

    #contact{
        width: 80%;
        margin:5% auto;
        text-align: center;
        color: white;
    }
    #contact>div{
    margin-top: 5%;
    }
    .contact-info{
        font-size:  2rem;
    }
    .github{
        margin: 0% 20%;
    }
    #contact-info{
        margin:3% 0%;
        font-size: 1.1em;
    }
    #contact-info>a{
        padding: 0 1%;
    }
    #projects{
        width: 100%;
        text-align: center;
        margin: auto;
        padding: 15vh 0;
        color:white;
    }
    #projects>div{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        row-gap:3vh;
        column-gap: 2vh;
        margin-top: 5%;
    }
    .project-card{
        width: 100%;
    }
    .project-card>div{
        width: 100%;
        color: white;
        background-color:rgba(0, 0, 0, 0.6) ;
        position: absolute;
        bottom: -100%;
        left: 0;
        height: 100%;
        box-sizing: border-box;
        transition: all 0.5s;
    }
    .project-card:hover >div{
        cursor: pointer;
        bottom: 0;
        /* border: 9px solid #9a9aef; */
    }
    .project-card>div>h2{
        margin-top: 3%;
        font-size: 1.2rem;
    }
    .project-card>div>a{
        padding: 8px 8px;
    }
    .project-card>div>p{
        margin-bottom: 2%;
        font-size: 16px;
        line-height: 1;
    }
}



@media screen and (min-width:320px) and (max-width:448px){
    #home{
        width: 80%;
        margin-top: 24%;
        /* height: 50vh; */
        height: 40vh;
    }
    #home h1{
        font-size: 1.3rem;
    }
    #home h2{
        font-size: 1.1rem;
        margin: 8vh 0;
    }
    #home p{
        font-size: 0.9rem;
    }
    #home-contact{
        margin-top: 5%;
    }
    .left-menu{
        display: none;
    }
    #hamburger{
        display: flex;
    }
    #nav-menu{
        font-size: 1rem;
        justify-content: space-between;
        padding: 3vh 3vh;
    }
    #about{
        padding: 5vh 3vh;
    }
    #about>div{
        display: contents;
        margin: auto;
    }
    #about>div>div:nth-child(1){
        text-align: center;
        margin:4% auto;
        width: 50%;
    }
    #about>div>div:nth-child(1) img{
        width: 80%;
    }
    #about>div>div:nth-child(2){
        width: 95%;
        margin: auto;
        font-size: 14px;
        font-weight: 400;
    }
    #skills{
        padding: 5vh 3vh;
    }
    #skills>div{
        justify-content: space-evenly;
        gap:5%;
    }
    #skills>div>div{
        width: 40%;
        font-size: 0.8rem;
        margin-top: 5%;
        padding-top: 3%;
        padding-bottom: 9%;
        border-radius: 10px;
        border: 1px solid #7f3ace;
    }
    #git-streak{
        width: 80%;
    } 
    #contact{
        width: 70%;
        margin:5% auto;
        text-align: center;
        color: white;
    }
    #contact>div{
    margin-top: 5%;
    }
    .contact-info{
        font-size:  2rem;
    }
    .github{
        margin: 0% 20%;
    }
    #contact-info{
        margin:3% 0%;
        font-size: 1.1em;
    }
    #contact-info>a{
        padding: 0 1%;
    }
    .section h2{
        font-size: 1.3rem;
    }
    .calendar{
        margin-top: 5%;
    }

    #projects{
        width: 100%;
        text-align: center;
        margin: auto;
        padding: 5vh 0vh;
        color:white;
        /* background-color: linear-gradient(#4f4f83, rgb(105, 81, 129)); */
    }
    #projects>div{
        width: 90%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        row-gap:3vh;
        column-gap: 2vh;
        margin-top: 5%;
    }
    .project-card{
        width: 100%;
    }
    .project-card>div{
        width: 100%;
        color: white;
        background-color:rgba(0, 0, 0, 0.6) ;
        position: absolute;
        bottom: -100%;
        left: 0;
        height: 100%;
        box-sizing: border-box;
        transition: all 0.5s;
    }
    .project-card:hover >div{
        cursor: pointer;
        bottom: 0;
        /* border: 9px solid #9a9aef; */
    }
    .project-card>div>h2{
        margin-top: 1%;
        font-size: 1.2rem;
    }
    .project-card>div>a{
        padding: 5px 5px;
    }
    .project-card>div>p{
        margin-bottom: 2%;
        font-size: 14px;
        line-height: 1;
    }
    #git-stats{
        padding: 5vh 3vh;
    }
    #contact{
        padding: 5vh 3vh;
    }
}