*{
    padding: 0;
    margin: 0;
    font-family:  Arial, sans-serif;
}
a{
    text-decoration: none;
    color: #8a88fa;
}
button{
    cursor: pointer;
}
body{
    background-color: #191f2a;
}
#nav-menu{
    color: #8a88fa;
    margin: auto;
    font-size: 1.3rem;
    font-weight: 400;
    display: flex;
    overflow: hidden;
    position: fixed;
    z-index: 3;
    top: 0;
    left:0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    background-color:rgba(61, 65, 89, 0.5);
    padding: 3vh 12vh;
}

.left-menu{
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.left-menu a{
    position: relative;
    padding: 5px 8px;
}
.left-menu a::after{
    content: "";
    position: absolute;
    background-color: #aeade9;
    height: 3px;
    width: 0;
    left:0;
    bottom: -5px;
    transition: 0.3s;
}
.left-menu a:hover ,#resume-button-1:hover{
    color: #aeade9;
}
.left-menu a:hover::after{
    width: 100%;
}
#hamburger{
    display: none;
}
#resume-button-1,#resume-button-2{
    background-color:rgba(61, 65, 89, 0.5);
    color: #8a88fa;
    border: none;
    font-size: 1.3rem;
    font-weight: 400;
    padding: 5px 8px;
    border-radius: 7px;
}

/* -------------------home---------------------- */
#home{
    height: 76vh;
    width: 63%;
    margin:auto;
    margin-top: 12%;
    text-align: center;
    color: #8e8ddf;
}
#home h1{
    color: #9796fc;
    font-size: 3.5rem;
}
#home h2{
    color: #9796fc;
    margin: 8vh 0;
}
#home p{
    text-align: left;
    font-size: 1.1rem;
    font-weight: bold;
}
#home-contact{
    margin: 4% 0;
    font-size: 24px
}
#home-contact a{
    position: relative;
    padding: 5px 8px;
}
#home-contact a::after{
    content: "";
    position: absolute;
    background-color: #aeade9;
    height: 3px;
    width: 0;
    left:0;
    bottom: -5px;
    transition: 0.3s;
}
#home-contact a:hover{
    color: #aeade9;
}
#home-contact a:hover::after{
    width: 100%;
}
/* ----------------------------------about------------------------- */

#about{
    text-align: center;
    height: auto;
    padding: 20vh 12vh;
    color: white;
    background-color: #56558d;
    background-repeat: no-repeat;
    background-image:linear-gradient(#4f4f83, rgb(105, 81, 129));
}
.section h2{
    font-size: 2.5rem;
}
#about>div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 12vh;
}
#about>div>div:nth-child(1){
    width: 25%;
}
#about>div>div img{
    width: 100%;
    border:5px solid #191f2a;
    border-radius: 20px;
}
#about>div>div:nth-child(2){
    text-align: left;
    width: 40%;
    font-weight: 600;
    font-size: 1.1rem;
    color: white;
}

/* --------------------------skilss------------------ */
#skills{
    text-align: center;
    height: auto;
    padding: 20vh 12vh;
    color: white;
    margin: auto;
}
#skills>div{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap:10%;
}
#skills>div>div{
    width: 20%;
    margin-top: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 10px;
    /* background-color: #1d1d24; */
    background-color: #22223298;
    box-shadow: rgba(146, 102, 189, 0.2) 0px 4px 12px;
}
#skills>div>div>img{
    width: 50%;
    height: 80%;
    overflow: hidden;
    margin-bottom: 10px;
}
#skills>div>div>#cyclic{
    height: 50%;
}

/* -------------------contact -------------------- */
#contact{
    width: 80%;
    margin:3% auto;
    text-align: center;
    color: white;
}
#contact>div{
margin-top: 5%;
}
.contact-info{
    font-size:  3rem;
}
.github{
    margin: 0% 25%;
}
#contact-info{
    display: flex;
    justify-content: center;
    margin:3% 0%;
    font-size: 1.3em;
}
#contact-info>a{
    padding: 0 1%;
}
/* ----------------------------------project------------------ */
#projects{
    width: 80%;
    text-align: center;
    margin: auto;
    padding-top: 8%;
    color:white;
}
#projects>div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap:8vh;
    column-gap: 2vh;
}
.project-card{
    width: 45%;
    color: #8a88fa;
}
.project-card img{
    width: 100%;
}
/* --------------------------media------------------ */


@media screen and (min-width:700px) and (max-width:1000px){
    #nav-menu{
        font-size: 1.2rem;
        justify-content: space-between;
    }
    .left-menu{
        width: 70%;
    }
    .left-menu a{
        padding: 5px 8px;
    }
    #about{
        padding: 20vh 0;
    }
    #about>div>div:nth-child(2){
        text-align: left;
        width: 50%;
        font-weight: 600;
        font-size: 1.1rem;
        color: white;
    }
    #skills>div>div{
        width: 30%;
    }
}
@media screen and (min-width:701px) and (max-width:800px){
    #nav-menu{
        font-size: 18px;
    }
    .left-menu a{
        padding: 5px 3px;
    }
}
@media screen and (min-width:100px) and (max-width:700px) {
    #nav-menu{
        padding: 3vh 5vh;
    }
    #home h1{
        color: #9796fc;
        font-size: 1.5rem;
    }
    .left-menu{
        display: none;
    }
    #hamburger{
        display: contents;
    }
    #skills{
        padding: 20vh 2vh;
    }
    #skills>div>div{
        width: 80%;
        padding-bottom: 5vh;
        margin: 5%;
    }
    #about{
        padding: 15vh 5vh;
    }
    #about>div{
        display: contents;
    }
    #about>div>div:nth-child(1){
        width: 60%;
    }
    #about>div>div img{
        width: 100%;
    }
    #about>div>div:nth-child(2){
        width: 100%;
        font-size: 16px;
        font-weight: normal;
    }
}
@media screen and (min-width:500px) and (max-width:700px){
    #home h1{
        color: #9796fc;
        font-size: 2rem;
    }
    #about{
        padding: 20vh 5vh;
    }
    #about>div{
        display: flex;
        justify-content: space-between;
    }
    #about>div>div:nth-child(1){
        width: 40%;
    }
    #about>div>div:nth-child(2){
        text-align: left;
        width:50%;
        font-weight:normal;
        font-size: 14px;
        color: white;
    }
}